:root{
    --sky-blue:#8ecae6;
    --blue-green:#219EBC;

}



.nav-custom-mio {
    background-color: var(--blue-green);

}

.text-color{
    color: white;
}

.ciao{
    background-color: white;
}

.scatola {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.Main-bg-custom
{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.card{
    width: 18rem;
    margin-top: 15px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.foto {
    width: 22rem;
}

.fotina {
    width: 26rem;
}

.linea {
    border: 2px solid rgb(12, 238, 148);
}


.titolo {
    font-family: 'Anton', sans-serif;
}


.loghi_social{
    max-width: 5rem;
    margin-top: 30px;


}

footer{
    background-color: rgb(76, 76, 76);
}

.social{
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    color: white;
}